@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  overflow-x: hidden !important;
}

.home-bg{
  background-image: url(/public/images/background.svg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 51%, 0% 100%);
}

.slider-bg{
  background-image: url(/public/images/background2.svg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 26%, 100% 0%, 100% 71%, 0% 100%);
}

.second-bg{
  background-image: url(/public/images/background3.svg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 26%, 100% 0%, 100% 71%, 0% 100%);
}

.contact-btn-bg{
  background: linear-gradient(268.18deg, #A04276 -6.05%, #EC597C -6.04%, #A04276 99.59%);
}

.common-width{
max-width: 1200px;
}

.link-gradient{
  background: linear-gradient(268.18deg, #A04276 -6.05%, #EC597C -6.04%, #A04276 99.59%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.slider-box-shadow{
  box-shadow: 0px 56px 73px -29px rgba(251, 113, 86, 0.22);
}

.footer-bg{
  background: linear-gradient(268.18deg, #A04276 -6.05%, #EC597C -6.04%, #A04276 99.59%);
}

@media (max-width: 1024px){
.home-bg{
  clip-path: polygon(0 0, 100% 0%, 100% 65%, 0 86%);
}
}

@media (max-width: 600px){
.home-bg{
  clip-path: polygon(0 0, 100% 0%, 100% 71%, 0 90%);
}
}

@media (max-width: 918px){
  .slider-bg{
    clip-path: polygon(0 11%, 100% 0%, 100% 88%, 0 100%) !important;
  }

  .slider-bg .common-width{
   padding-top: 100px;
   padding-bottom: 70px;
  }

  .second-bg{
    clip-path: polygon(0 11%, 100% 0%, 100% 88%, 0 100%) !important;

  }

  .second-bg .common-width{
    padding-top: 180px;
    padding-bottom: 130px;
   }
 
}

@media (max-width: 467px){
  .dot-first{
   height: 660px;
}
}

@media (max-width: 362px){
  .dot-first{
   height: 730px;
}
}

@media (max-width: 297px){
  .dot-first{
   height: 792px;
}
}

@media (max-width: 400px){
  .footerGrid{
   grid-template-columns: 1fr !important;
}
}


