@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  overflow-x: hidden;
}

.home-bg{
  background-image: url(/public/images/background.svg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 51%, 0% 100%);
}

.slider-bg{
  background-image: url(/public/images/background2.svg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 26%, 100% 0%, 100% 71%, 0% 100%);
}
.contact-btn-bg{
  background: linear-gradient(268.18deg, #A04276 -6.05%, #EC597C -6.04%, #A04276 99.59%);
}

.common-width{
max-width: 1150px;
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}